/* Header / Navbar */
#home-header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-image: linear-gradient(
    to bottom,
    #f53f2d,
    #f7492e,
    #fa522f,
    #fc5b31,
    #fe6333
  );
  backdrop-filter: blur(10px);
  z-index: 1000;
  border-bottom: 1px solid var(--glass-border);
  display: flex;
  justify-content: center;
  padding-block: 5px;
  padding-bottom: 10px;
}

.header-content {
  max-width: 1100px;
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.nav-upper {
  width: 100%;
  display: flex;
  justify-content: end;
}

.profile-container {
  display: flex;
  gap: 5px;
  align-items: center;
}

#profile-logo {
  color: white;
}

#nav-username {
  font-size: small;
  color: white;
  font-weight: normal;
}

.nav-lower {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo img {
  height: 40px;
  width: 40px;
}

.nav-logo h1 {
  color: white;
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.7rem;
}

.nav-logo h1 span {
  color: rgba(255, 255, 255, 0.8);
}

.nav-search {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
}

.nav-search-form {
  width: 100%;
  display: flex;
}

.search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  /* overflow: hidden; */
  height: 30px;
  max-height: 30px;
}

#search-input {
  width: 100%;
  border: none;
  height: 50px;
  min-height: 0;
  padding-inline: 10px;
  background: none;
}

#search-input:focus {
  outline: none;
}

.search-btn {
  background-color: #fe6333;
  border: none;
  height: 100%;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #ff7b53;
}

.search-btn span {
  font-size: 1.2rem;
  color: white;
}

.nav-cart {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#cart-icon {
  margin-top: 8px;
  margin-right: 18px;
  font-size: 1.8rem;
}

#cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: #fe6333;
  border-radius: 8px;
  font-size: 0.8rem;
  height: 18px;
  width: 30px;
  text-align: center;
  text-justify: center;
  padding: 0;
}
